* {
  box-sizing: border-box;
}

.box {
  width     : 50%;
  margin    : auto;
  text-align: left;
  padding   : 1%;
  color     : #bfbfbf;
}

.box table {
  width : 100%;
  margin: auto;
}

.box th {
  width: 33%;
}

.buttons {
  width     : 50%;
  left      : 37.5%;
  height    : 4em;
  margin    : auto;
  text-align: center;
}

.button {
  display         : inline-block;
  width           : 6em;
  height          : auto;
  padding         : 1px 0;
  background-color: #fff;
  color           : #3a3c38;
  text-align      : center;
  font-weight     : lighter;
  font-size       : 1.125em;
  transition      : background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0);
  color           : #fff;
}

.dropdown {
  position        : relative;
  width           : 50%;
  min-width       : 6em;
  height          : 1em;
  margin          : auto;
  background-color: #fff;
  color           : #bfbfbf;
  text-align      : center;
  margin          : 0 auto;
  transition      : color 0.5s ease-in-out;
}

.dropdown:hover {
  color: #333333;
}

.dropdown > ul {
  position  : absolute;
  z-index   : 2;
  margin    : 0;
  padding   : 0;
  left      : 0;
  right     : 0;
  list-style: none;
  text-align: center;
  top       : 1.5em;
  opacity   : 0;
  background: #fff;
  transition: opacity 0.125s ease-in-out;
}

.dropdown li {
  color           : #bfbfbf;
  background-color: #fff;
  transition      : background-color 0.5s ease-in-out;
}

.dropdown li:hover {
  background-color: #333333;
}

ul.show {
  opacity: 1;
}

.dropdown ul ul td {
  width   : 170px;
  float   : none;
  display : list-item;
  position: relative;
}

#username {
  width           : 20em;
  height          : auto;
  margin          : auto;
  padding         : 1.25% 2.5%;
  outline         : none;
  border          : none;
  background-color: #fff;
  color           : #3a3c38;
  font-size       : 1.125em;
  transition      : background-color 1s ease-in-out, color 1s ease-in-out;
}

#username:focus {
  background-color: rgba(255, 255, 255, 0);
  color           : #fff;
}