* {
  box-sizing: border-box;
}

.questionbox {
  width      : 100%;
  padding    : 2em;
  text-align : center;
  color      : #bfbfbf;
  font-weight: lighter;
}

.cardholder {
  margin: auto;
  width : 100%;
}

.cardholder:after {
  content: "";
  display: table;
  clear  : both;
}

.answerbox {
  position        : relative;
  z-index         : 1;
  float           : left;
  width           : calc(25% - 0.5em);
  height          : 150px;
  margin          : 0.25em;
  transform       : scale(1);
  padding         : 0.5em;
  box-shadow      : 0 0;
  background-color: #fff;
  color           : #5c5e59;
  font-size       : 1em;
  font-weight     : 100;
  transition      : background-color 0.25s, transform 0.25s ease-in, all 0.25s;
}

.answerbox:hover {
  z-index         : 40;
  background-color: #cbddff;
  box-shadow      : 0 0 1em;
  transform       : scale(1.125);
  transition      : background-color 0.5s, transform 0.5s ease-out, all 0.5s;
}

.selected {
  z-index         : 50;
  background-color: #d9cbe2;
  transform       : scale(1.125);
  box-shadow      : 0 0 0.25em;
}

.subbox {
  float      : left;
  width      : 50%;
  height     : 100%;
  margin     : auto;
  padding    : 0;
  border     : 5px solid rgba(0,0,0,0);
  color      : #5c5e59;
  font-size  : 1em;
  font-weight: 100;
}

.subbox > p {
  padding         : 1em;
  background-color: #fff;
  background-clip : padding-box;
  transition      : background-color 0.5s;
}

.subbox:hover > p {
  background-color: #cbddff;
  transition      : background-color 0.5s;
}

.choosecard {
  display    : block;
  width      : 6em;
  height     : auto;
  margin     : 25px auto 10px;
  padding    : 1px 0;
  background : #fff;
  text-align : center;
  font-size  : 1em;
  font-weight: 100;
  transition : width 0.5s, background 0.5s;
}

.choosecard:hover {
  background: #cbddff;
  width     : 5em;
}

.choosecard.submitted {
  background-color: #c2d3c0;
  width           : 8em;
}

.leaderboard {
  width      : 40%;
  height     : auto;
  margin     : 0 30%;
  text-align : center;
  color      : #5c5e59;
  font-size  : 1em;
  font-weight: 100;
}

.leaderboard:after {
  content: "";
  display: table;
  clear  : both;
}

.score {
  float : left;
  width : 50%;
  height: auto;
}
@media (max-width: 800px) {
  .answerbox {
    font-size  : 16px;
    font-weight: 250;
    width      : 50%;
  }

  .cardholder {
    width: 100%;
  }

  .leaderboard {
    width : 100%;
    margin: auto;
  }
}