* {
  box-sizing: border-box;
}

.promptbox {
  color     : #000000;
  text-align: center;
  padding   : 0 20%;
  width     : 100%;
}

.cardholder {
  margin: auto;
  width : 90%;
}

.cardbox {
  color           : #5c5e59;
  font-size       : 1em;
  font-weight     : 100;
  background-color: #fff;
  background-clip : padding-box;
  float           : left;
  width           : 20%;
  height          : 150px;
  margin          : auto;
  padding         : 1em;
  border          : 5px solid rgba(0,0,0,0);
  transition      : background-color 0.25s;
}

.subbox {
  color      : #5c5e59;
  font-size  : 1em;
  font-weight: 100;
  float      : left;
  width      : 50%;
  height     : 100%;
  margin     : auto;
  padding    : 0;
  border     : 5px solid rgba(0,0,0,0);
}

.subbox > p {
  padding         : 1em;
  background-color: #fff;
  background-clip : padding-box;
  transition      : background-color 0.5s;
}

.choosecard {
  display    : block;
  width      : 6em;
  height     : auto;
  margin     : 25px auto 10px;
  padding    : 1px 0;
  background : #fff;
  text-align : center;
  font-weight: lighter;
  font-size  : 1em;
  transition : width 0.5s, background 0.5s;
}

.leaderboard {
  width      : 40%;
  height     : auto;
  margin     : 0 30%;
  color      : #5c5e59;
  text-align : center;
  font-size  : 1em;
  font-weight: 100;
}

.score {
  float : left;
  width : 50%;
  height: auto;
}

.cardbox:hover {
  background-color: #cbddff;
  padding         : 15px;
  border          : 5px solid rgba(0,0,0,0);
  transition      : background-color 0.5s;
}

.choosecard:hover {
  background: #cbddff;
  width     : 5em;
  transition: width 0.5s, background 0.5s;
}

.subbox:hover > p {
  background-color: #cbddff;
  transition      : background-color 0.5s;
}

.leaderboard:after {
  content: "";
  display: table;
  clear  : both;
}

.cardholder:after {
  content: "";
  display: table;
  clear  : both;
}
@media (max-width: 800px) {
  .cardbox {
    font-size  : 16px;
    font-weight: 250;
    width      : 50%;
  }

  .cardholder {
    width: 100%;
  }

  .leaderboard {
    width : 100%;
    margin: auto;
  }
}