<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Slapstick - Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/favicon.png">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
  </head>

  <body onload="updatePlayers()">

    <div class="wrapper">
      <div class="header">
        Slapstick: Admin
      </div>

      <div class="box" id="landing">
        <table class="players" id="players">
          <tr>
            <th>Name</th>
            <th>Score</th>
            <th></th>
          </tr>
          <tr>
            <td>dweeble</td>
            <td>50</td>
            <td class="dropdown" onclick="toggleDropdown(this)">
              Actions
              <ul style="display: none;">
                <li onclick="fireOption(this)">Remove</li>
                <li onclick="fireOption(this)">Reset Score</li>
                <li onclick="fireOption(this)">Goof</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>

      <div class="buttons">
        <div class="button" style="transform-origin: center;" onclick="startGame()">
          Start Game
        </div>
        <div class="button" style="transform-origin: center;" onclick="forceCheck()">
          Force Check
        </div>
        <div class="button" style="transform-origin: center;" onclick="sendPing()">
          Send Ping
        </div>
        <div class="button" style="transform-origin: center;" onclick="updatePlayers()">
          Refresh
        </div>
      </div>

      <div class="footer">
        <p>Copyrighted 20xx, probably</p>
      </div>
    </div>

  </body>

  <script type="text/javascript" src="../static/js/socket.io.min.js"></script>
  <script src="../static/js/admin.js">
    console.log("loaded")
  </script>
</html>