<!DOCTYPE html>
<html lang="en">
  <head>
    <title>seeker's cards - admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/favicon.png">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
  </head>

  <body onload="updatePlayers()">

    <div class="wrapper">
      <div class="header">
        seeker's cards: admin
      </div>

      <div class="box" id="landing">
        <table class="players">
          <tr>
            <th>name</th>
            <th>score</th>
            <th></th>
          </tr>
          <tr>
            <td>dweeble</td>
            <td>50</td>
            <td>[ v]</td>
          </tr>
        </table>
      </div>

      <div class="buttons">
        <div class="button" style="transform-origin: left;" onclick="startGame()">
          start game
        </div>
        <div class="button" style="transform-origin: right;" onclick="sendPing()">
          send ping
        </div>
      </div>

      <div class="footer">
        <p>copyrighted 20xx, probably</p>
      </div>
    </div>

  </body>

  <script type="text/javascript" src="../static/js/socket.io.min.js"></script>
  <script src="../static/js/admin.js">
    console.log("loaded")
  </script>
</html>