<!DOCTYPE html>
<html lang="en">
  <head>
    <title>slapstick</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/play.css">
  </head>

  <body>
    <div class="wrapper">

      <div class="header">
        Welcome,
        {{ username }}.
      </div>

      <div class="questionbox" id="question">Waiting to Start</div>

      <div class="cardholder" id="holder">
        <div class="subbox">
          <p>~INSTRUCTIONS~</p>
          <p>Hold on tite;</p>
          <p>the game'll start shortly.</p>
        </div>
        <div class="subbox">
          <p>Then select an answer,</p>
          <p>pray to whatever god(s) you believe in,</p>
          <p>and smACk that submit button.</p>
        </div>
      </div>

      <div class="choosecard" id="choosecard" onclick="submitCards(this)">
        <p>Wait...</p>
      </div>

      <div class="leaderboard" id="leaderboard"></div>

      <div class="footer">
        <p>Copyrighted NEVERXVII, probably</p>
      </div>

    </div>
  </body>
</html>

<script type="text/javascript" src="../static/js/socket.io.min.js"></script>
<script src="../static/js/play.js">
  console.log("loaded")
</script>